In [ ]:
#import numpy as np

# Playing with functions & local vs global variables

In [ ]:
#

In [ ]:
#name = 'me'
#name = input("name: ")

In [ ]:
#height_f = 5.8
#height_f = int(input("Height feet: ")) + (int(input("Height inches: "))/12)

In [ ]:
#weight_lb = 160
#weight_lb = int(input('Weight: '))

In [ ]:
#def bmi_calc(name = input("Name: "), height_f = (int(input("Height Ft: "))*12) + int(input('Height In: ')), weight_lb = int(input("Weight lb: "))):
    bmi = (weight_lb / (height_f ** 2)) * 703
    print('bmi: ')
    print(bmi)
    if bmi < 25:
        return name + ' is not overweight'
    else:
        return name + ' is overweight'

result1 = bmi_calc()

In [ ]:
print(result1)

In [ ]:
#x = 'awesome'

In [ ]:
#def myfunc():
#    x = 'fantastic'
#    print('Python is ' + x)

In [ ]:
#myfunc()

In [ ]:
#print('Python is ' + x)

In [ ]:
#print('text',3,'text2',5+6)

In [ ]:
#w = int(input())

In [ ]:
#def funct1(w):
#    y = w + 1
#    return y

In [ ]:
#r = w + 2

In [ ]:
#print(r)

In [ ]:
#print(funct1(16))

In [ ]:
#name = input("name: ")

In [ ]:
#height_in = (int(input("Height feet: "))*12) + int(input("Height inches: "))

In [ ]:
#weight_lb = int(input('Weight: '))

In [ ]:
#def bmi_calc(name = name, height_in = height_in, weight_lb = weight_lb):
 #   bmi = (weight_lb / (height_in ** 2)) * 703
  #  print('bmi: ')
   # print(bmi)
    #if bmi < 25:
     #   return name + ' is not overweight'
    #else:
     #   return name + ' is overweight'

In [ ]:
#result1 = bmi_calc()

In [ ]:
#print(result1)

In [ ]:
#name = input("name: ")

In [ ]:
#height_in = (int(input("Height feet: "))*12) + int(input("Height inches: "))

In [ ]:
#weight_lb = int(input('Weight: '))

In [ ]:
#def bmi_calc(name, height_in, weight_lb):
 #   '''Calculate BMI in imperial units'''
  #  bmi = (weight_lb / (height_in ** 2)) * 703
   # print('bmi: ')
    #print(bmi)
    #return bmi
    #if bmi < 25:
     #   return name + ' is not overweight'
    #else:
     #   return name + ' is overweight'

In [ ]:
#print(bmi_calc)

In [ ]:
#result1 = bmi_calc()

In [ ]:
print(result1)

## Matplot lib follow-along

In [ ]:
import matplotlib.pyplot as plt

%matplotlib inline

x = list(range(0, 10))
y = list(range(-10, 0))

plt.plot(x, y)

In [ ]:
a = [0, -100, 25, 67, -323]
b = [0,3, 7, 3, 9]
plt.plot(a,b)

In [ ]:
plt.axis([-50, 80, 2, 8])
plt.plot(a, b)

In [ ]:
plt.title("Triangle")
plt.xlabel("Array A")
plt.ylabel("Array B")
plt.axis([-50, 80, 2, 8])
plt.plot(a,b)

In [ ]:
plt.title("Triangle")
plt.xlabel("Array A")
plt.ylabel("Array B")
plt.axis([-50, 80, 2, 8])
plt.xticks((-40, -20, 0, 20, 40, 60, 80), ('h', 'e', 'l', 'l', 'o','o','o'))
plt.plot(a,b)

In [ ]:
plt.title("Triangle")
plt.xlabel("Array A")
plt.ylabel("Array B")
plt.axis([-50, 80, 2, 8])
plt.xticks((-40, -20, 0, 20, 40, 60, 80), ('h', 'e', 'l', 'l', 'o','o','o'))
plt.plot(a,b, color = 'red')

In [ ]:
plt.hist(a)

In [ ]:
plt.hist(x)
plt.hist(y)

# Dictionaries

In [ ]:
dict_ex = {'george': 24, 'tom': 32}

In [ ]:
print(dict_ex)

In [ ]:
#add a key:value to dictionary
dict_ex['jenny'] = 12

In [ ]:
print(dict_ex)

In [ ]:
print(dict_ex['george'])

In [ ]:
#error if value not present in dictionary
print(dict_ex['alice'])

In [ ]:
#iterate over key:value pairs 
dict_ex['tom'] = 20

In [ ]:
print(dict_ex)

# Pandas & CRUD

In [ ]:
import pandas as pd

In [ ]:
# create from dictionary
tempdict = {'coll':[1,2,3], 'col2':[4,5,6], 'col3':[7,8,9]}

In [ ]:
dictdf = pd.DataFrame.from_dict(tempdict)

In [ ]:
dictdf.head()

# if elif else Statements

In [ ]:
name = "Me"
height_m = 2
weight_kg = 110

bmi = weight_kg / (height_m ** 2)
print("bmi: " + str(bmi))
if bmi < 25:
    print(name + " is not overweight")
else:
    print(name + " is overweight")

In [ ]:
inputtxt = input("Please enter test string: ")

if len(inputtxt) < 6:
    print("String too short")
    print('Use at least 6 characters')

In [ ]:
give_int = input("Type and integer: ")
int_form = int(give_int)

if int_form % 2 == 0: #use modulus equal to zero to determine if numerator is multiple of denominator. divide by 2 to determine if even number
    print("Even")
else:
    print("Odd")
# in this case, str will output error

In [ ]:
# if/then for more than 3 cases - ex determine traingle shape (scalene, isoceles, equilateral)
# note this doesn't include test of whether inputs will actually form a triangle, would need angle info
a = int(input('a length: ')) #this format converts input function to integer with single line
b = int(input('b length: '))
c = int(input('c length: '))

if a != b and b != c and a != c:
    print('Scalene Triangle')
elif a == b and b == c:
    print('Equilateral Traingle')
else:
    print('Isoceles Traingle') #uses process of elimination rather than code for 2 of 3 sides having same length

## for Loops

In [ ]:
list1 = ['fruit', 'veggie', 'bean']

In [ ]:
# long way:
print(list1[0])
print(list1[1])
print(list1[2])

In [ ]:
# for way:
for element in list1:
    print(element)

In [ ]:
# ex. find sum of list
b = [20, 10, 5]
total = 0

for e in b:
    total = total + e
print(total)

In [ ]:
total2 = 0
for i in range(1,10):
    total2 += i
print(total2)

In [ ]:
# add all multiple of 3 in a range
total3 = 0
for r in range(1, 8):
    if r % 3 == 0:
        total3 += r
print(total3)

In [ ]:
# compute all multiples of 3 & 5 that are less than 100
list35 = []
for number in range(1, 100): #limit range to 100 (1-99) elements to discard need for if statements to determine if the multiple is <100
    if number % 3 == 0:
        list35.append(number)
    elif number % 5 == 0:
        list35.append(number)
print(list35)

## while loops

In [ ]:
j = 0

while j <= 5:
    print(j)
    j += 1
print('While loop condition met, moved to next line of code')

In [ ]:
# apply loop to only certain elements in a list (sum positive numbers of list in this example)

given_list = [5,4,4,3,1,-2,-3,-5]

total3 = 0
i = 0

while i < len(given_list) and given_list[i] > 0: 
    total3 += given_list[i]
    i += 1
    # means first check the current element in given_list starting at index location [i] (starting at zero). 
    #this makes it so if the element at index location i is >0 then it will be added to total3. after each
    #run throught the loop i will be increased by 1 to search the next index location of given_list
    #
print(total3)

In [ ]:
# break out of loop when certain condition met (sum of positive numbers in list)

given_list2 = [5,4,4,3,1,-2,-3,-5]
total4 = 0

for element in given_list2:
    if element <= 0:
        break
    total4 += element
print(total4)

In [ ]:
given_list2 = [5,4,4,3,1,-2,-3,-5]
total5 = 0
i = 0

while True:
    total5 += given_list2[i]
    i += 1
    if given_list2[i] <= 0:
        break
print(total5)

## Random number generation

In [ ]:
import random

In [ ]:
# display 10 random #'s from zero to one
# will generate new random numbers each time code is run
for i in range(10):
    print(random.random())

## Random Walks

In [ ]:
import random

In [ ]:
#long form of function: random walk in a grid
def random_walk(n): # arbituarily chose n as functions local variable 
    """Return coordinates after 'n' block random walks in a grid""" #docstring to explain what function does
    x = 0 #starting coords
    y = 0 #starting coords
    for i in range(n):
        step = random.choice(['N', 'S','E','W'])
        if step == 'N':
            y = y + 1
        elif step == 'S':
            y = y - 1
        elif step == "E":
            x = x + 1
        elif step == 'W':
            x = x - 1
    return (x, y) #coordinates returned as a tuple

In [ ]:
# test the function. 25 random walks, each 10 grid lengths long
for i in range(25):
    walk = random_walk(10) # call the function 
    print(walk, "distance from home = ", abs(walk[0]) + abs(walk[1]))
    # print coordinates and distance from home (absolute values because the +/- are for direction, not distance)

In [ ]:
# Short form of function: random walk

def random_walk_2(n):
    """Return coordinates after 'n' block random walks in a grid"""
    x, y = 0, 0 #assign x & y in single line
    for i in range(n):
        (dx, dy) = random.choice([(0, 1), (0, -1), (1, 0), (-1, 0)]) 
        # dx & dy arbituarily chosen as varibles used to update x & y during walks
        # North, S, E, & W represnted by the tuples in the list in random.choice. +/- represent direction
        x += dx
        y += dy
    return (x, y)

In [ ]:
# test the function. 25 random walks, each 10 grid lengths long
for i in range(25):
    walk = random_walk_2(10) # call the function 
    print(walk, "distance from home = ", abs(walk[0]) + abs(walk[1]))

In [ ]:
# longest random walk possible so that on avg you end up <4 lengths from origin
# Use Monte Carlo method

number_of_walks = 20000

for walk_length in range(1, 31):
    no_transport = 0 # Number of walks that end 4 or fewer blocks from origin
    for i in range(number_of_walks): #begin making the Monte Carlo loop
        (x, y) = random_walk_2(walk_length)
        distance = abs(x) + abs(y) # calculate distance from origin
        if distance <= 4:
            no_transport += 1
    no_transport_percentage = float(no_transport) / number_of_walks
    print("walk size = ", walk_length, " / % of no transport = ", 100*no_transport_percentage)

## Playing around

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
def fizzBuzz(n):
    # Write your code here
    for i in range(1, n+1):
        if i % 3 == 0 and i % 5 == 0:
            print('FizzBuzz')
        elif i % 3 == 0 and i % 5 != 0:
            print('Fizz')
        elif i % 3 != 0 and i % 5 == 0:
            print('Buzz')
        elif i % 3 != 0 and i % 5 != 0:
            print(i)

In [ ]:
fizzBuzz(15)

In [ ]:
def simpleArraySum(ar):
    ar = []

In [ ]:
simpleArraySum(6
               1,2,3,4,10,11)

In [ ]:
import numpy as np

In [ ]:
#given Numpy array, print output: [17.2 9.5]
numpy1 = np.array([17.2, 20.0, 8.25, 9.50])
print(numpy1[[0, -1]])

In [ ]:
import math
import os
import random
import re
import sys


n = int(input())
if n % 2 != 0:
    print('Weird')
elif n % 2 == 0:
    if n >= 2 and n <=5:
        print('Not Weird')
    elif n >= 6 and n <= 20:
        print('Weird')
    elif n > 20:
        print('Not Weird')

In [ ]:
# can also be written as:

n = int(input())
if n % 2 != 0 or n > 5 and n < 21 :
    print("Weird")
else: 
    print("Not Weird")

In [ ]:
# I want to try and print multiple lines with single print() function
a = 3 #int(input())
b = 5 #int(input())
print(((a + b),
     (a - b),
     (a * b)))
# verdict: I can't without some other special function or other modifier

In [ ]:
# one print() function for multiple lines. sep= denotes the seperator used in the print function.
# to make a new line use \n this applies to more than just print()
a, b = 3, 5
print(a + b, a - b, a * b, sep='\n')

In [ ]:
a, b = 3, 5
print(a+b);print(a-b);print(a*b) # this just uses multiple functions in one line
print('I want to make \nmultiple lines')
#note that if a space between ""\n" and "multiple" is present, there would be a space when the str is printed out

## Lists

### Append method

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers.append(6)

In [ ]:
print(numbers)

In [ ]:
animals = ['cat', 'dog', 'turtle']
additional_animals = ['rabbit', 'horse']

In [ ]:
animals.append(additional_animals)
print(animals)
# results in a list of lists because

In [ ]:
# output is a single list, not list of lists
for x in additional_animals:
    animals.append(x)
print(animals)

## Tuples

In [ ]:
# make tuple
tuple1 = (1, 'two', 3, 'four', True) #five elements
# assign variables withinin single line
var1, var2, var3, var4, var5 = tuple1
print(var1, var2, var3, var4, var5)
#number of variables must equal number of elements within tuple

## Sets

In [ ]:
set_name1 = set()

In [ ]:
set_name1.add(42)
set_name1.add(False)
set_name1.add(3.14159)
set_name1.add("thorium")

In [ ]:
print(set_name1) #order of elements doesn't matter

In [ ]:
set_name1 #order of elelements doesn't matter

In [ ]:
set_name1.add(42) #if this gets added, there should be 5 elements in the set
len(set_name1) #shows number of elements within object or str

In [ ]:
# remove element
set_name1.remove(42)
print(set_name1)

In [ ]:
# discard method (alternative to remove method)
set_name1.discard(42)
print(set_name1)

Union & intersection

In [ ]:
odds = set([1,3,5,7,9])
evens = set([2,4,6,8,10])
primes = set([2,3,5,7])
composites = set([4,6,8,9,10])

In [ ]:
# Union
print(odds.union(evens))
print(evens.union(odds))
print(primes.union(composites))
#same output despite order of the sets in the code

In [ ]:
# intersection
print(odds.intersection(primes))
print(primes.intersection(odds))
print(evens.intersection(odds)) #no common elements between the sets so output is an empty set

In [ ]:
# in operator used to determine if an element is present within a set
print(2 in primes)
print(1 in primes)
#can use Not in conjunction with in to determine if element not in a list
print(9 not in evens)

In [ ]:
list1 = [1,'two',3,4]

In [ ]:
list1.index('two')

## List Comprehension

In [ ]:
records = [['2014', 'F', '20799', 'Emma'], ['2014', 'F', '19674', 'Olivia'], ['2014', 'F', '18490', 'Sophia'], ['2014', 'F', '16950', 'Isabella'], ['2014', 'F', '15586', 'Ava'], ['2014', 'F', '13442', 'Mia'], ['2014', 'F', '12562', 'Emily'], ['2014', 'F', '11985', 'Abigail'], ['2014', 'F', '10247', 'Madison'], ['2014', 'F', '10048', 'Charlotte'], ['2014', 'F', '9564', 'Harper'], ['2014', 'F', '9542', 'Sofia'], ['2014', 'F', '9517', 'Avery'], ['2014', 'F', '9492', 'Elizabeth'], ['2014', 'F', '8727', 'Amelia'], ['2014', 'F', '8692', 'Evelyn'], ['2014', 'F', '8489', 'Ella'], ['2014', 'F', '8469', 'Chloe'], ['2014', 'F', '7955', 'Victoria'], ['2014', 'F', '7589', 'Aubrey'], ['2014', 'F', '7554', 'Grace'], ['2014', 'F', '7358', 'Zoey'], ['2014', 'F', '7061', 'Natalie'], ['2014', 'F', '6950', 'Addison'], ['2014', 'F', '6869', 'Lillian'], ['2014', 'F', '6767', 'Brooklyn']]

In [ ]:
# Create the list comprehension: baby_names
baby_names = [row[3] for row in records]
    
# Print the sorted baby names in ascending alphabetical order
print(sorted(baby_names))

In [ ]:
# Can include conditional statements (i.e. if statements)
baby_names2 = [item[3] for item in records if len(item[3]) > 6]
# Output is names with str length greater than 6 characters
print(baby_names2)

## Tuples

### Zipping Tuples
make a list of paired elements from multiple lists

In [ ]:
# given lists of top favorite cookies in US & EU, ordered most to least:
us_fave_cookies = ['molasses', 'sugar', 'chocolate chip', 'chocolate']
eu_fave_cookies = ['digestive', 'sugar', 'oatmeal', 'almond']

In [ ]:
top_pairs = list(zip(us_fave_cookies, eu_fave_cookies))
print(top_pairs)
# makes a list of tuples with each element of each list paired together by index

In [ ]:
us_fave_cookies2 = ['molasses', 'sugar', 'chocolate chip', 'chocolate', 'moon']
eu_fave_cookies2 = ['digestive', 'sugar', 'oatmeal', 'almond']
top_pairs2 = list(zip(us_fave_cookies2, eu_fave_cookies2))
print(top_pairs2)
# only zips up to the the max index of the smaller list

### Unpacking/Expansion (assigning elements to variable(s)

In [ ]:
# using zipping tuples code from above
us_num_1, eu_num_1 = top_pairs[0]
print(us_num_1)
print(eu_num_1)

#### Unpacking in loops

In [ ]:
for us_fave_cookies, eu_fave_cookies in top_pairs:
    print(eu_fave_cookies)
    print(us_fave_cookies)
# breaks the tuples into seperate elements

### Enumerate function
tells the index of an element

In [ ]:
for idx, item in enumerate(top_pairs):
    us_fave_cookies, eu_fave_cookies = item
    print(idx, us_fave_cookies, eu_fave_cookies)
# output prints index becasue enumerate returns the index location then the element/s at that index

# Strings and different ways to type them

## Formatted String Literals (f-strings)
let you include the value of Python expressions inside a string by prefixing the string with f or F and writing expressions as {expression}.

In [ ]:
# need a string 
print("Both {us_fave_cookies2} and {eu_fave_cookies2} are made up by me")
print(f"Both {us_fave_cookies2} and {eu_fave_cookies2} are made up by me")

## Joining strings to iterables

In [ ]:
child_ages = ["3","4","7","8"] #iterable apparently has to be a str
print(",".join(child_ages))

In [ ]:
print(f"The children are ages {','.join(child_ages[0:3])}, and {child_ages[-1]}.")

## matching parts of a str
    str_name.startswith(...) or str_name.endswith(...) or in operator

In [ ]:
boy_names3 = ["Mohammed", 'Youssef', 'Ahmed']
print([name for name in boy_names3 if name.startswith('A')])
#case-sensitive

In [ ]:
# in operator - returns boolean, can be used for filtering
print('long' in "Life is a long time")
print('Time' in "Life is a long time") #case-sensitive

#can work around case-sensitivity using .lower() or .upper() or other formatting method to make all characters lower or upper case
print("Time" in "Life is a long time".title()) # .title() makes all first letters caps

# CSV files in python

## Importing

In [ ]:
#using locally stored csv of google 10yr stock prices
import csv
from datetime import datetime # imports a date and time data type to allow converting to that data type
# make variables so you don't have to retype things multiple times
path = "G:\My Drive\Career\Springboard Data Science\Google Stock Market Data - google_stock_data.csv.csv"
file = open(path, newline='')
reader = csv.reader(file)

header = next(reader) # The first line of this csv is a header, this var makes it so we can start reading at the actual 1st line of data

In [ ]:
data1 = [row for row in reader] # read the remaining data

In [ ]:
# Check if data gets diplayed properly
print(header)
print(data1[0])

In [ ]:
# convert data to appropriate types

data2 = []
for row in reader:
    # what row will look like: row = [Date, Open, High, Low, Close, Volume, Adj. Close]
    date = datetime.strptime(row[0], '%m/%d/%Y') # strptime short for string-parse-time
    open_price = float(row[1]) # open is name of a built-in function so need to name variable something else
    high = float(row[2])
    low = float(row[3])
    close = float(row[4])
    volume = int(row[5])
    adj_close = float(row[6])
    
    data2.append([date, open_price, high, low, close, volume, adj_close])

In [ ]:
#to check that data are converted to appropriate types (only looking at first element, otherwise types would be list since it's list of lists)
# Note that error for below code occurs if data1 variable is defined,I don't know why
# Note2 this code needs to be in a different cell than data2 variable creation, error if combined cell run more than once
data2types = []
for item_type in data2[0]:
    data2types.append(type(item_type))

print(data2types)

In [ ]:
# Compute daily stock returns and write to seperate CSV

# Make the path to the file, this doesn't create the file
returns_path = "G:\My Drive\Career\Springboard Data Science\google_retuns_CSVlesson.csv"
file_daily = open(returns_path, 'w') #open file in write mode (the 'w')
writer = csv.writer(file_daily) #make a csv writer object for storing the computed results
writer.writerow(["Date", "Return"]) #call writerow method with list of values with the header pre-written here

# Data is already ordered cronologically (most recent first), can just loop through it. To compute daily return as %, need the day and the prior day's price
#create for loop with index becasue looping over the list itself will just give only 1 row at a time

for i in range(len(data2) - 1): # stop at 2nd to last row b/c 1st day (last element of list) doesn't have prior day to compare to
    todays_row = data2[i] # i is the local variable and represnts "todays" date (whichever index location is currently being iterated over)
    todays_date = todays_row[0] # date is first element
    todays_price = todays_row[-1] # price is 2nd element
    yesterdays_row = data2[i+1] 
    yesterdays_price = yesterdays_row[-1]
    
    daily_return = (todays_price - yesterdays_price) / yesterdays_price
    #format date to be easier to read
    formatted_date = todays_date.strftime('%m/%d/%Y') #strftime short for string-format-time
    writer.writerow([formatted_date, daily_return])

# Dictionaries

In [ ]:
# make a dict from a list
# Create an empty dictionary named squirrels_by_park
squirrels = [('Marcus Garvey Park', ('Black', 'Cinnamon', 'Cleaning', None)), ('Highbridge Park', ('Gray', 'Cinnamon', 'Running, Eating', 'Runs From, watches us in short tree')), ('Madison Square Park', ('Gray', None, 'Foraging', 'Indifferent')), ('City Hall Park', ('Gray', 'Cinnamon', 'Eating', 'Approaches')), ('J. Hood Wright Park', ('Gray', 'White', 'Running', 'Indifferent')), ('Seward Park', ('Gray', 'Cinnamon', 'Eating', 'Indifferent')), ('Union Square Park', ('Gray', 'Black', 'Climbing', None)), ('Tompkins Square Park', ('Gray', 'Gray', 'Lounging', 'Approaches'))]
squirrels_by_park = {} #start with empty dict

# Loop over the squirrels list and unpack each tuple
for park, squirrel_details in squirrels:
    # Add each squirrel_details to the squirrels_by_park dictionary
    squirrels_by_park[park] = squirrel_details
    
# Sort the squirrels_by_park dict alphabetically by park
for park in sorted(squirrels_by_park):
    # Print each park and its value in squirrels_by_park
    print(f'{park}: {squirrels_by_park[park]}')

## get method

In [ ]:
# Safely print 'Union Square Park' from the squirrels_by_park dictionary
squirrels_by_park2 = {'Union Square Park': [{'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Eating, Foraging', 'interactions_with_humans': None}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Cinnamon', 'activities': 'Climbing, Eating', 'interactions_with_humans': None}, {'primary_fur_color': 'Cinnamon', 'highlights_in_fur_color': None, 'activities': 'Foraging', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Running, Digging', 'interactions_with_humans': 'Runs From'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Digging', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Black', 'activities': 'Climbing', 'interactions_with_humans': None}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Eating, Foraging', 'interactions_with_humans': None}], 'Madison Square Park': [{'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Sitting', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Cinnamon', 'activities': 'Foraging', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Climbing, Foraging', 'interactions_with_humans': 'Indifferent'}]}

print("Union Square Park Squirrels: \n",squirrels_by_park2.get('Union Square Park'),'\n')

# Safely print the type of 'Fort Tryon Park' from the squirrels_by_park dictionary
print("Fort Tryon Park Squirrels: \n",type(squirrels_by_park2.get('Fort Tryon Park')),'\n')

# Safely print 'Central Park' from the squirrels_by_park dictionary or 'Not Found'
print("Central Park Squirrels: \n",squirrels_by_park2.get('Central Park', 'Not Found'),'\n')

In [ ]:
squirrels_madison = [{'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Sitting', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Cinnamon', 'activities': 'Foraging', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Climbing, Foraging', 'interactions_with_humans': 'Indifferent'}]
squirrels_union = ('Union Square Park', [{'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Eating, Foraging', 'interactions_with_humans': None}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Cinnamon', 'activities': 'Climbing, Eating', 'interactions_with_humans': None}, {'primary_fur_color': 'Cinnamon', 'highlights_in_fur_color': None, 'activities': 'Foraging', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Running, Digging', 'interactions_with_humans': 'Runs From'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Digging', 'interactions_with_humans': 'Indifferent'}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': 'Black', 'activities': 'Climbing', 'interactions_with_humans': None}, {'primary_fur_color': 'Gray', 'highlights_in_fur_color': None, 'activities': 'Eating, Foraging', 'interactions_with_humans': None}])

In [ ]:
# Assign squirrels_madison as the value to the 'Madison Square Park' key
squirrels_by_park['Madison Square Park'] = squirrels_madison

# Update squirrels_by_park with the squirrels_union tuple
squirrels_by_park.update([squirrels_union])

# Loop over the park_name in the squirrels_by_park dictionary 
for park_name in squirrels_by_park:
    #Safely print a list of the primary_fur_color for each squirrel in park_name
    print(park_name, [squirrel.get('primary_fur_color', 'N/A') for squirrel in squirrels_by_park[park_name]])

## .items() method

In [ ]:
print(squirrels_by_park2.items())

In [ ]:
# Iterate over the first squirrel entry in the Madison Square Park list
for field, value in squirrels_by_park["Madison Square Park"][0].items():
    # Print field and value
    print(field, value)

print('-' * 13)

# Iterate over the second squirrel entry in the Union Square Park list
for field, value in squirrels_by_park["Union Square Park"][1].items():
    # Print field and value
    print(field, value)

In [ ]:
# Use a for loop to iterate over the squirrels in Tompkins Square Park:
for squirrel in squirrels_by_park["Tompkins Square Park"]:
	# Safely print the activities of each squirrel or None
    print(squirrel.get("activities"))
    
# Print the list of 'Cinnamon' primary_fur_color squirrels in Union Square Park
print([squirrel for squirrel in squirrels_by_park["Union Square Park"] if "Cinnamon" in squirrel["primary_fur_color"]])

# Collections Module

In [ ]:
import collections

## Counter

In [ ]:
from collections import Counter #Counter is capitilized

In [ ]:
listcount = ['g','a','l','l','a','d']
c = Counter(listcount)
print(c)
# counter object looks like a dict but "key:value" pairs are element and the count of how many times it appears in the container passed as an argument

In [ ]:
list(c.elements())

In [ ]:
print(c)
d = Counter(listcount)
print(c+d)

In [ ]:
#intersection
print(c & d)
#union
print(c | d)

In [ ]:
from collections import namedtuple

In [ ]:
Color = namedtuple('Color', ['red', 'green', 'blue'])
color = Color(55,155,255)
print(color.red)

# Datetime module

In [ ]:
import datetime

In [ ]:
date1 = datetime.date(1956, 1, 22)
print(date1)

In [ ]:
# no leading zeros
date2 = datetime.date(1956, 01, 09)
print(date2)

In [ ]:
# knows you can't have days or months outside of normal range (12mo, max 31 days)
date3 = datetime.date(1956, 1, 0)
print(date3)

In [ ]:
# knows how many days should be in each month
date1 = datetime.date(1956, 2, 30)
print(date1)

# Nested Functions

In [2]:
def raise_val(n):
    '''returns the inner func'''
    def inner(x):
        '''raise x to the power of n'''
        raisedvar = x ** n
        return raisedvar
    return inner
square = raise_val(2) # sets n to 2
print(square(4)) #sets x to 4
print(square(10)) # sets x to 10

16
100

In [5]:
# can't pass both n & x at same time, get error. Have to pass nested variables in subsequent parentheses
print(raise_val(2)(4))
print(raise_val(2)(10))

16
100